[submodule "deps/zig-clap"]
	path = deps/zig-clap
	url = https://github.com/Hejsil/zig-clap
[submodule "tests/official_tests"]
	path = tests/official_tests
	url = git@github.com:LewisGaul/nestedtext_tests.git
